/* css for mobile */
.mobile{
    z-index: -1;
    position: absolute;
    height: 560px;
    width: 260px;
    margin-bottom: 100px;
    margin-top: -80px;
    margin-left: -128px;   
     /* left: 50%;
     right: 50%; */
}

/* css for left grid*/
.left-mesh{ 
    /* background-color: rgba(255, 255, 255, 0.341); */
    transform: scale(1.2);
    background-color: rgba(47, 45, 45, 0.179);

    /* background-color: rgba(24, 23, 23, 0.204); */
    border-right: solid 10px rgb(0, 0, 0);  
    filter: blur(0.4px);
    position: absolute;
    height: 420px;
    width: 250px;
    z-index: 3;
    top: 50px;
    left: 200px;
}

/* css for right grid */
.right-mesh{
  transform: scale(1.2);
  
  /* background-color: rgba(40, 39, 39, 0.204); */
  background-color: rgba(47, 45, 45, 0.179);
    border-left: solid 10px rgb(0, 0, 0);
   top: 50px;
    position: absolute;
    height: 420px;
    width: 250px;
    z-index: 3;
    filter: blur(0.4px);
    right: 200px;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.138)); */
}

/*css for slideshow of images  */
.slideshow {
  /* background-color: white; */
    overflow: hidden;
    max-width: 270px;   
    z-index: 1;
}

/*css for slideshow of svgs */
.slideshow1 {
  top: 95px;
  left: 180px;
  position: absolute;
  overflow: hidden;
  max-width: 850px;   
  z-index:-4;
}

 
.slideshowSlider {
    
    white-space: nowrap;
    transition: linear 3000ms;
    opacity: 0.4;
  }

  .slideshowSlider1 {
    z-index: -1;
    white-space: nowrap;
    transition: linear 3000ms;
    opacity: 1;
  }

/* css for size of svgs in svgs slideshow */
.slide1{
    /* position: absolute;  */
    /* background-color: white;    */
   
    display: inline-block;
    height: 380px;
    width: 345px;   
} 

/* css for size of images in image slideshow */
.slide{
    /* position: absolute;  */
    /* background-color: white;    */
   
    display: inline-block;
    height: 370px;
    width: 345px;   
} 





  